<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <queries>
        <package android:name="com.whatsapp.w4b"/>
    </queries>

    <application
        android:allowBackup="false"
        android:label="MASTER RESPONDE"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher_master_responde"
        android:roundIcon="@drawable/ic_launcher_master_responde">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".SigmaPanelSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".AppSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".MessageSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ResellersActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".MasterflixActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false"/>

        <activity
            android:name=".GroupsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".CategoriesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".RulesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <receiver
            android:name=".ServiceRecoveryReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationAccessService"
            android:label="MASTER RESPONDE"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
